<div class="card-item col">
  <div class="card hoverable">
    <div class="row g-0">
      {%- if book.img -%}
      <div class="card-img col-md-6">
        {% include figure.html path=book.img alt="book thumbnail" %}
      </div>
      <div class="col-md-6">
      {%- else -%}
      <div class="col-md-12">
      {%- endif -%}
      <div class="card-body">
        {%- if book.redirect -%}
        <a href="{{ book.redirect }}">
        {%- else -%}
        <a href="{{ book.url | relative_url }}">
        {%- endif -%}
        <h3 class="card-title">{{ book.title }}</h3>
        </a>
        <div class="card-text">
          <p class="text-muted">{{ book.author }}</p>
          <span>📅 {{ book.date_to | date: "%d" | plus:'0' }} {{ book.date_to | date: "%B %Y" }}</span>
          <p class="float-right">{{ book.pages }} pages</p>
        </div>
        <div class="row ml-1 mr-1 p-0"></div>
      </div>
      </div>
    </div>
  </div>
</div>
