<!-- _includes/courses.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
  {% if course.redirect -%}
  <a href="{{ course.redirect }}">
    {%- else -%}
    <a href="{{ course.url | relative_url }}">
      {%- endif %}
      <div class="card hoverable">
        {%- if course.img %}
        {%- include figure.html
          path=course.img
          alt="course thumbnail" -%}
        {%- endif %}
        <div class="card-body">
          <h2 class="card-title">{{ course.title }}</h2>
          <div class="card-text">
            <p class="text-muted">{{ course.author }}</p>
          </div>
        </div>
        <div class="row ml-1 mr-1 p-0"></div>
      </div>
    </a>
</div>